/* Theme */

main {
	background-image: linear-gradient(62deg, #c8ecda 0%, #d9c6d4 100%);
}

.intro {
	color: #5d3f8a;
}

.tagline {
	color: #5b13c681;
}

.icons-social a {
	color: #a475aaba;
}

.icons-social a svg path{
	fill: #eff1e6;
}
